@import url('https://fonts.googleapis.com/css2?family=Gabarito&family=Rajdhani:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Gabarito', sans-serif; 
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Rajdhani', sans-serif;
}

.image-container img {
    width: 700px; 
    height: 400px; 
    object-fit: cover; 
    border-radius: 10px; 
}

  